<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="root">
    <button (click)='this.showAllTasks = true'>Display all tasks below.</button>
      <table *ngIf='this.showAllTasks'>
        <tr *ngFor='let task of tasks'>
          <td>{{task._id}}</td>
          <td>{{task.description}}</td>
          <button (click)='showTask(task._id)'>Show This Task Below</button>
        </tr>
      </table>
    <hr>
    <table class='dark' *ngIf='show_task'>
      <tr><td>{{show_task.description}}</td></tr>
    </table>
    <!-- <hr>
    <button (click)="onButtonClick()" >Click me!</button>
    <button (click)="onButtonClickParam1(22)">Click me!</button>
    <button (click)="onButtonClickParams(12, 'YO')">Click me!</button>
    <button (click)="onButtonClickEvent($event)">Click me!</button>
    <button (click)="onButtonClickParam2({id: 3})">Click me!</button> -->

  </div>
</body>
</html>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet> </router-outlet>